@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main>
                    <div class="top-row px-4">
                        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                    </div>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>

        <NotAuthorized>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity?.IsAuthenticated ?? false &&
            !Navigation.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
        {
            Navigation.NavigateTo("/login", forceLoad: false);
        }
    }
}
