@page "/assets/edit/{AssetId:int}"
@using AssetManagement.Shared.Models
@using AssetManagementApp.Services
@inject IAssetClientService AssetService
@inject NavigationManager Navigation

<PageTitle>Edit Asset</PageTitle>

@if (AssetToEdit == null)
{
    <p><em>Loading asset details...</em></p>
}
else
{
    <AssetForm Asset="AssetToEdit" 
               Title="Edit" 
               OnSubmit="HandleUpdateAsset" />
}


@code {
    [Parameter]
    public int AssetId { get; set; }

    private Asset? AssetToEdit;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            AssetToEdit = await AssetService.GetAssetByIdAsync(AssetId);
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error fetching asset {AssetId}: {ex.Message}");
            Navigation.NavigateTo("/assets");
        }
    }

    private async Task HandleUpdateAsset(Asset updatedAsset)
    {
        try
        {
            await AssetService.UpdateAssetAsync(updatedAsset);
            
            Navigation.NavigateTo("/assets");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error updating asset: {ex.Message}");
        }
    }
}